<template>
  <HeaderExperience>
    <v-content class="experience pt-lg-2 pt-sm-12">
      <section>
        <v-container class="px-0">
          <v-row>
            <v-col cols="12" md="8" lg="8" class="text-md-left pr-md-8" v-html="content"></v-col>
            <v-col cols="12" md="4" lg="4">
              <h3 class="text-md-left">Usage Skills</h3>
              <SkillProgress />
            </v-col>
          </v-row>
        </v-container>
        <v-row>
          <Title
            title="Showcase"
            subtitle="Check if all experiences. Since 2012 working tecnology area"
          ></Title>
          <v-col cols="12" class="mt-n8">
            <TitleSlider />
          </v-col>
        </v-row>
      </section>
    </v-content>
  </HeaderExperience>
</template>

<script>
import HeaderExperience from "@/components/HeaderExperience.vue";
import SkillProgress from "@/components/SkillProgress.vue";
import Title from "@/components/Title.vue";
import TitleSlider from "@/components/TitleSlider.vue";
import Request from "@/services/Request.ts";

export default {
  name: "home",
  components: {
    HeaderExperience,
    SkillProgress,
    Title,
    TitleSlider
  },
  beforeCreate() {
    const url = "posts/" + this.$route.params.id;
    let req = new Request();
    req.request(url);
  },
  data() {
    return {
      content:
        "<h3>Experience</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare ultricies. Nam mollis pulvinar augue. Maecenas at lacus dolor. Praesent tristique consequat diam. Integer mi lorem, suscipit nec felis nec, suscipit tincidunt urna. Ut sodales mi vel sagittis vulputate. Duis lectus lectus, iaculis sed nulla id, placerat blandit nulla. Nunc aliquet, sem eget rutrum placerat, est diam aliquam magna, convallis faucibus urna lectus non nisi. Duis luctus in enim vel gravida. Donec eros leo, dictum sed vestibulum id, faucibus vel ex. Duis condimentum elit id ante imperdiet tempor.</p><h3>About Teknisa</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare.</p><a>www.teknisa.com</a>"
    };
  }
};
</script>

<style>
.v-application .title {
  font-family: "Sacramento", cursive !important;
  font-size: 3rem !important;
  line-height: 3.1rem !important;
}
.p-4 {
  padding: 1.5rem;
}
.bg-secondary {
  background-color: #b6d0de;
}
.bg-white {
  background-color: #fff;
}
.v-btn {
  border-width: 2px;
}

.experience section h3 {
  padding-bottom: 1.8rem;
}

@media (max-width: 961px) {
  .experience {
    margin-top: 15px;
  }
}
</style>