<template>
  <HeaderHome>
    <v-content class="home pt-lg-12 pb-12">
      <!-- Perfil -->
      <v-container class="about pt-8 pb-12" id="About">
        <div class="bg-opacity"></div>
        <v-row align="center" justify="center" class="mb-5" style="margin-top: 40px">
          <v-avatar width="180" height="180">
            <img
              class="custom-avatar elevation-3"
              src="https://cdn.vuetifyjs.com/images/john.jpg"
              alt="Filipe Cruz"
            />
          </v-avatar>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="12">
            <h2 class="title text-white">
              <span
                style="font-family: 'Montserrat', sans-serif;font-weight: 500;"
                class="text-white"
              >I'm</span> Filipe Cruz
            </h2>
            <p
              align="center"
              justify="center"
              class="text-white font-size-15 font-weight-600 my-4"
            >Expert Developer and Technical Leader</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <div class="mt-2 mb-5 mx-5 d-lg-inline">
              <v-btn large outlined color="secondary" class="font-weight-bold">
                <v-icon size="20" class="mr-3">fal fa-file-download</v-icon>Download CV
              </v-btn>
            </div>
            <div class="mt-2 mb-5 mx-5 d-inline">
              <v-btn large color="secondary" class="text-black font-weight-bold" href="#Contact">
                <v-icon size="20" class="mr-3">fal fa-paper-plane</v-icon>Contact Me
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <!-- More Info -->
      <v-container
        class="elevation-3 bg-white px-6 more-info"
        style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; "
      >
        <v-row sx-align="center" sx-justify="center">
          <v-col>
            <Title
              :title="about.title"
              :subtitle="about.content"
              subtitle_class="text-left"
              title_class="text-left"
            ></Title>
          </v-col>
          <v-col>
            <Title
              :title="basicInformation.title"
              :subtitle="basicInformation.content"
              subtitle_class="custom-list"
              title_class="text-left"
            ></Title>
          </v-col>
        </v-row>
      </v-container>
      <!-- Experience -->
      <v-container class="pt-4 bg-secondary mt-12" fluid id="Experience">
        <v-row align="center" justify="center">
          <Title
            :title="experience.title"
            :subtitle="experience.content"
            css="font-weight-600 my-4"
          ></Title>
        </v-row>
        <v-row class="mt-3">
          <CardHorizontal />
        </v-row>
      </v-container>
      <!-- Education -->
      <v-container class="pt-4 mt-12 pb-2" fluid id="Education">
        <v-row align="center" justify="center">
          <Title :title="education.title" :subtitle="education.content" css="font-weight-600 my-4"></Title>
        </v-row>
        <v-row>
          <CardEducation />
        </v-row>
      </v-container>
      <!-- Service -->
      <v-container class="pt-4 mt-12 pb-2" fluid id="Services">
        <v-row align="center" justify="center">
          <Title :title="service.title" :subtitle="service.content" css="font-weight-600 my-4"></Title>
        </v-row>
        <v-row>
          <CardIcon />
        </v-row>
      </v-container>
      <!-- Portfolio -->
      <v-container class="pt-4 mt-12 pb-2" fluid id="Portfolio">
        <v-row align="center" justify="center">
          <Title :title="portfolio.title" :subtitle="portfolio.content" css="font-weight-600 my-4"></Title>
        </v-row>
        <v-row>
          <ImageHover />
        </v-row>
      </v-container>
      <!-- Contact -->
      <v-container class="pt-4 mt-12 pb-2" fluid id="Contact">
        <v-row align="center" justify="center">
          <Title :title="contact.title" :subtitle="contact.content" css="font-weight-600 my-4"></Title>
        </v-row>
        <v-row>
          <ContactForm />
        </v-row>
      </v-container>
    </v-content>
  </HeaderHome>
</template>

<script>
import HeaderHome from "@/components/HeaderHome.vue";
import Title from "@/components/Title.vue";
import CardHorizontal from "@/components/CardHorizontal.vue";
import CardEducation from "@/components/CardEducation.vue";
import CardIcon from "@/components/CardIcon.vue";
import ImageHover from "@/components/ImageHover.vue";
import ContactForm from "@/components/ContactForm.vue";

export default {
  name: "home",
  components: {
    Title,
    CardHorizontal,
    CardEducation,
    CardIcon,
    ImageHover,
    ContactForm,
    HeaderHome
  },
  data() {
    return {
      about: {
        title: "About",
        content:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      basicInformation: {
        title: "Basic Information",
        content:
          '<ul class="text-left"> <li> <b>Place:</b> Belo Horizonte, Minas Gerais - Brazil </li> <li> <b>Birth Date:</b> 3 June, 1990 </li> <li> <b>Language:</b> Portuguese, English and Spanish </li> <li> <b>Nationality:</b> Brazilian and Portuguese </li> </ul>'
      },
      experience: {
        title: "Experience",
        content: "Check if all experiences. Since 2012 working tecnology area"
      },
      education: {
        title: "Education",
        content: "Check if all experiences. Since 2012 working tecnology area"
      },
      service: {
        title: "Services",
        content: "Check if all experiences. Since 2012 working tecnology area"
      },
      portfolio: {
        title: "Portfolio",
        content: "Check if all experiences. Since 2012 working tecnology area"
      },
      contact: {
        title: "Contact",
        content: "Check if all experiences. Since 2012 working tecnology area"
      }
    };
  }
};
</script>

<style scoped>
.v-application .title {
  font-family: "Sacramento", cursive !important;
  font-size: 3rem !important;
  line-height: 3.1rem !important;
}
.about {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.57) 0%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url(https://www.zerocarbonfutures.co.uk/wp-content/uploads/2015/11/code-header-bg-1280-800-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.about .custom-avatar {
  border: 5px solid #fff;
}
.text-white {
  color: white;
}
.text-black {
  color: black !important;
}
.font-size-15 {
  font-size: 1.5rem;
}
.font-weight-600 {
  font-weight: 600;
}
.p-4 {
  padding: 1.5rem;
}
.bg-secondary {
  background-color: #b6d0de;
}
.bg-white {
  background-color: #fff;
}
.v-btn {
  border-width: 2px;
}

@media (max-width: 961px) {
  .home {
    margin-top: 15px;
  }
}
</style>