<template>
  <v-col cols="12" class="pa-0">
    
    <v-row class="mt-3 px-1 pb-4" dense>
      <v-text-field
        v-model="search"
        class="search-custom elevation-3"
        flat
        hide-details
        placeholder="Type the skill or keyword of interest"
        append-icon="fal fa-search"
        solo
      ></v-text-field>
    </v-row>
    <v-row dense>
      <v-col v-for="(item, i) in filteredList.slice(0, limit)" :key="i" cols="12">
        <v-card flat class="my-1 elevation-3">
          <v-img class="d-lg-none" :src="item.src" height="200px"></v-img>
          <div class="d-lg-flex flex-lg-no-wrap justify-space-between">
            <div class="ma-3 pa-0 image-card-left">
              <img :src="item.src" />
            </div>
            <div class="content">
              <v-card-title class="experience-title" v-text="item.title"></v-card-title>
              <v-card-subtitle class="experience-subtitle pt-6">
                <v-icon color="#3E464F" class="experience-icon experience-company mr-2" dense>fal fa-briefcase</v-icon>
                {{ item.company }}
              </v-card-subtitle>
              <v-card-subtitle class="experience-subtitle experience-date pt-0">
                <v-icon color="#3E464F" class="experience-icon mr-2" dense>fal fa-calendar-alt</v-icon>
                {{ item.period }}
              </v-card-subtitle>
              <v-card-text class="experience-description" v-text="item.description"></v-card-text>
              <v-card-actions class="pb-5">
                <v-btn color="primary" class="px-5 mx-2 read-more">Read More</v-btn>
              </v-card-actions>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="mt-10 mb-10" v-if="filteredList.length <= 0">
        <b style="font-size:1.5rem"><v-icon size="40" class="mr-3">fal fa-sad-cry</v-icon> Not found results for {{ search }} </b>
      </v-col>
    </v-row>
    <v-btn
      v-if="limit < filteredList.length"
      class="ma-2 mt-5"
      large
      outlined
      color="black"
      style="font-weight: bold;border-size"
      @click="loadMore"
    >Load More
    <v-icon right>fal fa-angle-down</v-icon>
    </v-btn>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    limit: 3,
    search: '',
    items: [
      {
        src: "https://i.picsum.photos/id/887/500/300.jpg",
        title: "Software Engineering",
        company: "Federal University of Minas Gerais",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor PHP sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/1/500/300.jpg",
        title: "Senior Development",
        company: "Federal University of Minas Gerais",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor java sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/768/500/300.jpg",
        title: "System Analist",
        company: "Geomx Technology",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor javascript sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/499/500/300.jpg",
        title: "System Analist",
        company: "Geomx Technology",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor python sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/500/500/300.jpg",
        title: "System Analist",
        company: "Geomx Technology",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor PHP sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/502/500/300.jpg",
        title: "System Analist",
        company: "Geomx Technology",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor javascript sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
      {
        src: "https://i.picsum.photos/id/504/500/300.jpg",
        title: "System Analist",
        company: "Geomx Technology",
        period: "Mai, 2017 - Dez, 2017",
        description:
          "Lorem ipsum dolor python sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      }
    ]
  }),
  methods: {
    loadMore() {
      this.limit += 3;
    }
  },
  computed: {
    filteredList() {
      return this.items.filter(experience => {
        return experience.title.toLowerCase().includes(this.search.toLowerCase()) ||
        experience.company.toLowerCase().includes(this.search.toLowerCase()) ||
        experience.description.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
};
</script>

<style scoped>
@media (min-width: 960px) {
  .image-card-left {
    width: 100% !important;
    margin: 0 !important;
    height: auto !important;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .image-card-left > img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .v-card .content {
    width: 100%;
    width: 100%;
    padding: 15px 15px 15px 30px;
  }
  .experience-title {
    font-size: 2rem;
  }
  .experience-subtitle {
    text-align: left;
    font-size: 1.125rem;
  }
  .experience-date {
    font-size: 1rem;
  }
  .experience-description {
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: left;
  }
}
@media (max-width: 961px) {
  .image-card-left {
    display: none;
  }
  .experience-title {
    font-size: 2rem;
    line-height: 2.4rem;
    word-break: break-word;
    justify-content: center;
    margin-top: 15px;
  }
  .experience-subtitle {
    text-align: center;
    font-size: 1.125rem;
  }
  .experience-date {
    font-size: 0.8rem;
    text-align: center;
  }
  .experience-description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  .read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
.experience-title {
  font-weight: bold;
  color: #498ec5;
}
.experience-subtitle {
  font-weight: 600;
  color: #3e464f !important;
}
.experience-icon {
  margin-top: -3px;
}
</style>