<template>
<v-row>
    <div :class="'col-md-6 col-xs-12 ' + (key == 0 ? 'first-box' : '')" v-for="(service, key) in services" v-bind:key="key">
      <v-card flat :class="'elevation-3 card-services icon-'+ ((key%2 == 0) ? 'left' : 'right')">
        <div class="icon-services elevation-3">
          <v-icon color="white" size="60" dense>{{service.icon}}</v-icon>
        </div>
        <div class="card-text">
          <p class="service-title" v-text="service.title"></p>
          <div class="service-content" v-text="service.description"></div>
        </div>
      </v-card>
    </div>
</v-row>
</template>

<script>
export default {
  data: () => ({
    services: [
      {
        icon: "fas fa-mobile-alt",
        title: "Mobile Development",
        description:
          "Lorem ipsum dolor sit amet, PHP consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
      },
      {
        icon: "fas fa-desktop",
        title: "Software Development",
        description:
          "Lorem ipsum dolor sit amet, PHP consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
      },
      {
        icon: "fas fa-database",
        title: "Advanced Database",
        description:
          "Lorem ipsum dolor sit amet, PHP consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
      },
      {
        icon: "fas fa-briefcase",
        title: "Consulting IT",
        description:
          "Lorem ipsum dolor sit amet, PHP consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
      }
    ]
  })
};
</script>

<style scoped>
.icon-services {
  background: #498ec5;
  line-height: 115px !important;
  width: 7.25rem;
  height: 7.25rem;
  border-radius: 50% !important;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.service-title {
  font-size: 1.375rem !important;
  font-weight: bold;
  text-align: left;
  color: #3E464F;
}
.service-content {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 960px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .card-services {
    margin-bottom: 3.125rem;
  }
  .icon-services {
    right: 0 !important;
    left: 0 !important;
    bottom: 100%;
  }
  .card-text {
    padding: 20% 25px 25px;
  }
  .service-title {
    text-align: center;
  }
  .first-box {
    margin-top: 40px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .card-services {
    width: 90%;
  }
  .icon-left.card-services {
    margin-left: 10%;
  }
  .icon-right.card-services {
    margin-right: 10%;
  }
  .icon-left .icon-services {
    left: -100%;
    right: 0;
  }
  .icon-right .icon-services {
    right: -10%;
    margin-right: 0;
    left: 0;
  }
  .icon-left .card-text {
    margin-left: 15%;
    padding: 25px;
    padding-left: 0;
  }
  .icon-right .card-text {
    margin-right: 15%;
    padding: 25px;
    padding-right: 0;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1421px) {
  /* big desktops */
  .icon-right .icon-services {
    right: -7%;
  }
}

</style>