<template>
  <v-col cols="12" class="pa-0">
    <v-row dense>
      <v-col v-for="(item, i) in items" :key="i" cols="12">
        <v-card flat class="my-1 elevation-3">
          <v-img class="d-lg-none" :src="item.img" height="200px"></v-img>
          <div class="d-lg-flex flex-lg-no-wrap justify-space-between">
            <div class="ma-3 pa-0 image-card-left">
              <img :src="item.img" />
            </div>
            <div class="content">
              <v-img class="education-logo" :src="item.logo"></v-img>
              <v-card-subtitle class="education-type" v-text="item.type"></v-card-subtitle>
              <v-card-title class="education-title mt-n5" v-text="item.course"></v-card-title>
              <v-card-subtitle class="education-subtitle pt-4 pb-2" v-text="item.university"></v-card-subtitle>
              <v-card-subtitle class="education-subtitle education-date pt-0">
                {{ item.period }}
              </v-card-subtitle>
              <v-card-text class="education-description" v-text="item.description"></v-card-text>
              <v-card-actions class="pb-5">
                <v-btn color="primary" class="px-5 mx-2 read-more">More Info</v-btn>
              </v-card-actions>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        img: "http://simi.org.br/files/2018/Dezembro/pucminashome.jpg",
        logo: "https://www.iprojr.com/wp-content/uploads/2018/11/PUC-LOGO-min.jpg",
        type: "Bachelor’s Degree",
        course: "Computer Enginnering",
        university: "Pontifical Catholic University of Minas Gerais",
        period: "2011 - 2016",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt. In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur massa. Donec nunc dui, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus. Pellentesque tempus suscipit velit sit amet bibendum."
      },
    ]
  })
};
</script>

<style scoped>
@media (min-width: 960px) {
  .image-card-left {
    width: 100% !important;
    margin: 0 !important;
    height: auto !important;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .image-card-left > img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .v-card .content {
    width: 100%;
    width: 100%;
    padding: 15px 15px 15px 30px;
  }
  .education-logo {
    float: right;
  }
  .education-type, .education-subtitle, .education-description {
    text-align: left;
  }
}
@media (max-width: 961px) {
  .image-card-left {
    display: none;
  }
  .education-logo {
    margin: 20px auto 0;
  }
  .education-type, .education-subtitle {
    text-align: center;
  }
  .education-title {
    justify-content: center;
  }
  .education-description {
    text-align: justify;
  }
  .read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
.education-logo {
    max-width: 190px;
}
.education-type {
  font-size: 1.125rem;
  color: #3E464F;
  font-weight: 500;
}
.education-title {
  font-weight: bold;
  font-size: 2rem !important;
  color: #3E464F;
  word-break: break-word;
  line-height: 2.4rem;
}
.education-subtitle {
  font-weight: 500;
  color: #3e464f !important;
  font-size: 0.875rem;
}
.education-date {
  font-size: 1rem;
}
.education-description {
  font-size: 1rem;
  line-height: 1.375rem;
}
.education-icon {
    margin-top: -3px;
}
</style>