<template>
  <v-layout>
    <v-row justify="center">
      <v-card flat justify="center" class="col-lg-6 col-xs-12 elevation-3 contact-form" style="z-index: 1;">
        <v-card-text class="pa-lg-6">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field outlined v-model="name" :rules="nameRules" label="Your Name" required></v-text-field>
            <v-text-field outlined v-model="email" :rules="emailRules" label="Your E-mail" required></v-text-field>
            <v-text-field outlined v-model="subject" :rules="subjectRules" label="Subject" required></v-text-field>
            <v-textarea
              outlined
              v-model="message"
              :counter="5000"
              :rules="messageRules"
              label="Message"
              required
            ></v-textarea>
            <v-btn
              :disabled="!valid"
              color="primary"
              class="mr-4 text--white"
              @click="sendMail"
              block
              style="font-weight: bold;"
              x-large
            >SEND MESSAGE</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
      <div justify="center" class="col-12">
        <v-card flat justify="space-around" class="elevation-3 contact-icons group pa-4 mt-n12">
          <v-icon
            v-for="(icon, key) in icons"
            @click="openLink(icon.url)"
            :key="key"
          >{{ icon.icon }}</v-icon>
        </v-card>
      </div>
    </v-row>
    <v-snackbar color="success" v-model="snackbar" top :timeout="5000">
      {{ messageSuccess }}
      <v-btn color="pink" x-small @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    notAllowed: ["test", "teste"],
    name: "",
    nameRules: [v => !!v || "Name is required"],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    subject: "",
    subjectRules: [v => !!v || "Subject is required"],
    message: "",
    messageRules: [
      v => !!v || "Message is required",
      v =>
        (v && v.length <= 5000) || "Message must be less than 1000 characters"
    ],
    messageSuccess: "Thanks for send your message. =)",
    snackbar: false,
    icons: [
      {
        icon: "fas fa-envelope-open-text",
        url: "https://google.com"
      },
      {
        icon: "fas fa-phone-square-alt",
        url: "https://google.com"
      },
      {
        icon: "fab fa-linkedin",
        url: "https://google.com"
      },
      {
        icon: "fab fa-skype",
        url: "https://google.com"
      },
      {
        icon: "fab fa-facebook-square",
        url: "https://google.com"
      }
    ]
  }),

  methods: {
    sendMail() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        this.reset()
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    openLink(url) {
      window.open(url, "_blank");
    }
  }
};
</script>

<style scoped>
.contact-icons.v-card {
  display: inline-table;
  width: auto;
  min-width: 40%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.contact-icons i {
  font-size: 1.5rem !important;
  background: #498ec5;
  padding: 0.8rem;
  margin: 34px 4% 0px;
  border-radius: 50% !important;
  color: white !important;
}
@media (max-width: 961px) {
  .contact-form {
      margin: 12px;
  }
  .contact-form .v-card__text, .contact-form .v-card__title {
    padding: 0;
  }
  .contact-icons {
    min-width: 100% !important;
  }
  .contact-icons i[data-v-67929df8] {
    padding: 3%;
    margin: 2%;
  }
}
</style>