<template>
  <v-app id="app" class="experience">
    <Overlay />
    <div class="custom-menu"></div>
    <v-content class="pt-0 mb-12" style="z-index: 2">
      <Menu></Menu>
      <v-container class="header-page mt-9 mb-3 px-0">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <h1 class="text-lg-left">Development Coordinate</h1>
            <h3 class="text-lg-left">Teknisa Software</h3>
          </div>
          <div class="col-md-3 col-sm-12">
            <h3 class="text-lg-right">Jun, 2019 - Present</h3>
          </div>
        </div>
      </v-container>
      <slot></slot>
    </v-content>
    <v-footer absolute class="custom-footer">
      <v-col
        class="text-center"
        cols="12"
      >&copy; {{ new Date().getFullYear() }} FCODE - FILIPE CRUZ</v-col>
    </v-footer>
  </v-app>
</template>

<script>
import Menu from "@/components/Menu.vue";
import Overlay from "@/components/Overlay.vue";
export default {
  components: {
    Menu,
    Overlay
  }
};
</script>

<style  lang="scss">
@media (min-width: 960px) {
  .v-toolbar__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.experience {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #fff !important;
}

.logo-title {
  font-family: "Sacramento", cursive !important;
}

.custom-footer {
    background: #498ec5 !important;
    font-weight: 500;
    color: #ffffff !important;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.custom-menu {
  width: 100%;
  background: #498ec5;
  height: 264px;
  position: absolute;
}

.header-page {
  background: transparent;
  color: white;
}

.header-page h1 {
  font-weight: 600;
}

.header-page h3 {
    font-weight: 400;
}
</style>