<template>
    <v-app id='app' class="home">
    <Overlay/>
    <div class="custom-menu" ></div>
    <v-container class="pt-0">
      <Menu></Menu>
      <slot></slot>
      <v-footer absolute class="custom-footer">
        <v-col
          class="text-center"
          style="font-family: montserrat;"
          cols="12"
        >&copy; {{ new Date().getFullYear() }} FCODE - FILIPE CRUZ</v-col>
      </v-footer>
    </v-container>
  </v-app>
</template>

<script>
import Menu from "@/components/Menu.vue";
import Overlay from "@/components/Overlay.vue";
export default {
  components: {
    Menu,
    Overlay
  },
};
</script>

<style  lang="scss">
@media (min-width: 960px) {
  .v-toolbar__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.home {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #b6d0de !important;
}

.logo-title {
  font-family: "Sacramento", cursive !important;
}

.custom-footer {
  background: transparent !important;
  font-weight: 500;
  color: #3e464f !important;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.custom-menu {
  width: 100%;
  background: #498ec5;
  height: 400px;
  position: absolute;
}
</style>