<template>
  <v-content class="portfolio-container">
    <v-row>
      <div
        class="col-xs-1 col-sm-4 col-md-3 col-lg-3"
        v-for="(job, key) in portfolio.slice(0, limit)"
        v-bind:key="key"
      >
        <v-hover v-slot:default="{ hover }">
          <v-img
            :src="job.img + `?image=${key * 5 + 10}`"
            aspect-ratio="1"
            class="custom-border-radius"
            :lazy-src="`https://picsum.photos/10/6?image=${key * 5 + 10}`"
          >
            <v-expand-transition>
              <div
                v-if="hover"
                class="transition-fast-in-fast-out primary portfolio-hover white--text pa-3"
                @click="portolioDetails"
              >
                <p class="valign">
                  <span
                    style="font-size: 1.375rem; font-weight: 400; display:block;"
                    v-text="job.category"
                  ></span>
                  {{ job.owner }}
                </p>
              </div>
            </v-expand-transition>
          </v-img>
        </v-hover>
      </div>
    </v-row>
    <v-btn
      v-if="limit <= portfolio.length"
      class="ma-2"
      large
      outlined
      color="black"
      style="font-weight: bold;border-size"
      @click="loadMore"
    >
      Load More
      <v-icon right>fal fa-angle-down</v-icon>
    </v-btn>
  </v-content>
</template>

<script>
export default {
  data: function() {
    return {
      limit: 4,
      portfolio: [
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Website",
          owner: "Be Health"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "ERP",
          owner: "Odhen Sales"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        },
        {
          img: "https://picsum.photos/500/300",
          category: "Mobile App",
          owner: "Minas Tenis Clube"
        }
      ]
    };
  },
  methods: {
    portolioDetails() {
      alert(this.portfolio.length);
    },
    loadMore() {
      this.limit += 4;
    }
  }
};
</script>


<style>
.portfolio-hover {
  height: 100%;
  align-items: center;
  bottom: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.custom-border-radius {
  border-radius: 4px;
}
.v-btn {
  border-width: 2px;
}
@media (max-width: 961px) {
  .portfolio-container {
    padding-top: 0 !important;
  }
}
</style>