<template>
  <v-container class="pa-0">
    <!-- Desktop Menu -->
    <v-toolbar flat v-if="window.width > 800" class="toolbar-custom" color="primary" dark>
      <v-toolbar-title v-text="title" class="logo-title pa-0"></v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text :href="'#'+link.label" v-for="(link, key) in links" v-bind:key="key" v-text="link.label"></v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- Mobile Menu -->
    <v-navigation-drawer v-if="window.width <= 800" v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item link v-for="(link, key) in links" v-bind:key="key" :href="'#'+link.label">
          <v-list-item-action>
            <v-icon v-text="link.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="link.label"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      v-if="window.width <= 800"
      app
      clipped-left
      color="primary"
      dark
      class="navigation-drawer-custom"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="logo-title">
        {{ titleMobile }} 
      </v-toolbar-title>
    </v-app-bar>
  </v-container>
</template>

<script>
export default {
  data: function() {
    return {
      window: {
        width: 0,
        height: 0
      },
      title: "Filipe Cruz",
      titleMobile: "Filipe Cruz",
      drawer: null,
      links: [
        {
          icon: "fal fa-address-card",
          label: "About",
        },
        {
          icon: "fal fa-business-time",
          label: "Experience"
        },
        {
          icon: "fal fa-graduation-cap",
          label: "Education"
        },
        {
          icon: "fal fa-cogs",
          label: "Services"
        },
        {
          icon: "fal fa-briefcase",
          label: "Portfolio"
        },
        {
          icon: "fal fa-paper-plane",
          label: "Contact"
        }
      ]
    };
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
};
</script>

<style scoped>
.v-navigation-drawer--clipped {
  top: 55px !important;
  z-index: 1;
}
.v-list-item__content {
  text-align: left;
}
.logo-title {
  font-size: 1.8rem;
}
.v-toolbar__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.v-navigation-drawer, .v-overlay {
    z-index: 2 !important;
}
</style>