<template>
  <div class="text-center custom-overlay">
    <v-overlay :value="overlay" opacity="100" color="#498EC5">
      <v-progress-circular indeterminate size="150" width="10" color="#B6D0DE"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
  export default {
    data: () => ({
      overlay: true,
    }),
    mounted: function() {setTimeout(() => {
          this.overlay = false
        }, 1000)
    },
  }
</script>

<style>
.custom-overlay .v-overlay.v-overlay--active.theme--dark {
  z-index: 6 !important;
}
</style>