<template>
  <div>
    <v-row justify="center" v-for="(skill,key) in skills" :key="key">
      <div class="col-3 skill-name">
        <span>{{ skill.name }}</span>
      </div>
      <div class="col-9">
        <v-progress-linear
          :color="skill.color"
          buffer-value="0"
          :value="skill.size"
          height="10"
          striped
          stream
        ></v-progress-linear>
      </div>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    skills: [
      {
        name: "Javascript",
        size: "100",
        color: "#FAFF00"
      },
      {
        name: "PHP",
        size: "80",
        color: "#0099DB"
      },
      {
        name: "Python",
        size: "50",
        color: "orange"
      },
      {
        name: "Vue",
        size: "100",
        color: "#038800"
      },
      {
        name: "Cordova",
        size: "68",
        color: "#000AFF"
      },
      {
        name: "Scrum",
        size: "80",
        color: "#36007B"
      }
    ]
  })
};
</script>

<style scoped>
.skill-name {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
}
</style>