<template>
  <div>
    <v-container fluid v-for="(Case, key) in cases" :key="key" class="experience-details full-width">
      <v-container>
      <v-row>
        <v-col cols="12" md="6" lg="6" class="px-0">
          <h2 class="title-case text-left" left v-text="Case.title"></h2>
          <div class="text-case text-left" v-html="Case.text"></div>
        </v-col>
        <v-col cols="12" md="6" lg="6">
          <v-carousel
            :v-model="'carosel_'+key"
            :continuous="false"
            :cycle="true"
            :show-arrows="false"
            hide-delimiter-background
            delimiter-icon="fas fa-circle"
            height="350"
            class="elevation-3"
          >
            <v-carousel-item
              v-for="(image,i) in Case.images"
              :key="key+'_'+i"
              :src="image.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
            ></v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
      </v-container>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cases: [
        {
          title: "Odhen Sales",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare.</p>",
          images: [
            {
              src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg"
            },
            {
              src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg"
            }
          ]
        },
        {
          title: "Odhen Sales 2",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu neque eu quam lacinia facilisis hendrerit eget leo. Aenean mattis orci eget sem lobortis, eu ultricies sem malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin vehicula mattis. Donec rhoncus sapien sit amet augue ornare.</p>",
          images: [
            {
              src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg"
            },
            {
              src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg"
            }
          ]
        }
      ]
    };
  }
};
</script>

<style scoped>
.text-case {
  margin-top: 1.5rem;
}
.experience-details:nth-child(even) {
  background: #b6d0de;
}
</style>