<template>
  <v-col cols="12">
    <h2 :class="(title_class ? title_class : '') + ' title my-4'" v-text="title"></h2>
    <p :class="(subtitle_class ? subtitle_class : '') + ' font-weight-600 my-4'" v-html="subtitle"></p>
  </v-col>
</template>

<script>
export default {
  props: ["title", "subtitle", "subtitle_class", "title_class"]
};
</script>

<style scoped>
.title {
  font-family: "Sacramento", cursive !important;
  font-size: 3rem !important;
  line-height: 3.1rem !important;
}
@media (max-width: 961px) { 
  .more-info .title {
      text-align: center !important;
  }
}
</style>