<template>
 <HeaderDashboard title="Dashboard">
   <v-row>
     <v-col cols="4">
       <v-card>
         <v-card-title>Teste</v-card-title>
       </v-card>
     </v-col>
   </v-row>
 </HeaderDashboard>
</template>

<script>
import HeaderDashboard from "@/components/dashboard/HeaderDashboard.vue";
export default {
  components: {
    HeaderDashboard,
  }
};
</script>