<template>
  <v-app id="app" class="login">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" md="3">
            <h1 class="logo-large logo-title pa-0 text-center pb-5">Filipe Cruz</h1>
            <v-card class="elevation-3 pa-6 pt-0">
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Email"
                    v-model="email"
                    name="email"
                    prepend-icon="fal fa-user"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    v-model="password"
                    label="Password"
                    name="password"
                    prepend-icon="fal fa-lock-alt"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions class="pb-3">
                <v-spacer />
                <v-btn color="primary" block @click="startSession">Login <v-icon v-show="loading" class="ml-3">fal fa-spinner-third fa-spin</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      email: "",
      password: "",
      loading: false,
    };
  },
  mounted: function() {
    /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
    // console.error(this.$router.currentRoute);
  },
  methods: {
    startSession: function() {
      this.loading = true;
      axios
        .post(window.apiUrl + "login", {
          email: this.email,
          password: this.password
        })
        .then(function(response) {
          localStorage.token = response.data.data.token;
          /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
          window.location.href = "admin/dashboard"
        })
        .catch(function(error) {
          /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
          console.error(error);
        });
      this.loading = false;
    }
  }
};
</script>

<style>
.logo-large {
  font-size: 3rem !important;
  font-weight: 100;
}

.login {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(182, 208, 222) !important;
  background: radial-gradient(
    circle,
    rgba(182, 208, 222, 1) 0%,
    rgba(73, 142, 197, 1) 100%
  ) !important;
}

.logo-title {
  font-family: "Sacramento", cursive !important;
}
</style>