<template>
  <router-view />
</template>

<script>
export default {
  mounted: function() {
    /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
    // console.error(this.$router.currentRoute);
  }
};
</script>