<template>
  <v-app id="app" class="dashboard">
    <v-layout>
      <v-content>
        <Menu :title="title"></Menu>
        <v-container fluid>
          <slot />
        </v-container>
      </v-content>
      <v-footer color="primary" app>
        <span class="white--text overline">&copy; {{ new Date().getFullYear() }} FCODE - FILIPE CRUZ</span>
      </v-footer>
    </v-layout>
  </v-app>
</template>

<script>
import Menu from "@/components/dashboard/Menu.vue";
export default {
  props: {
    title: String,
  },
  components: {
    Menu
  }
};
</script>

<style>
.dashboard {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>