<template>
  <v-container fluid class="pa-0">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item v-for="(item,key) in menu" :key="key" link :to="item.url">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ item.label }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-app-bar>
  </v-container>
</template>

<script>
export default {
  props: {
    title: String
  },
  data: () => ({
    drawer: null,
    menu: [
      {
        label: "Dashboard",
        icon: "fal fa-tachometer-alt",
        url: "dashboard"
      },
      {
        label: "Posts",
        icon: "fal fa-copy",
        url: "posts"
      },
      {
        label: "Users",
        icon: "fal fa-users",
        url: "users"
      },
      {
        label: "Logout",
        icon: "fal fa-sign-out",
        url: "logout"
      }
    ]
  })
};
</script>

<style>
.v-toolbar__content > .v-btn.v-btn--icon:first-child,
.v-toolbar__extension > .v-btn.v-btn--icon:first-child {
  margin-left: 0px !important;
}
</style>