<template>
  <v-data-table :headers="headers" :items="items" :search="search" class="elevation-3 py-3">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-btn color="success" dark class="mb-2" v-on="on"><v-icon size="15" class="mr-3">fal fa-plus</v-icon>New Post</v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="fal fa-search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ items }">
      <v-icon small class="mr-2">fas fa-pencil</v-icon>
      <v-icon small>fas fa-trash</v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    title: String,
    headers: Array,
    items: Array
  },
  data() {
    return {
      search: "",
      dialog: false,
      formTitle: "teste"
    };
  }
};
</script>