<template>
    <router-view/>
</template>

<style>
@media (min-width: 1264px) {
    .container:not(.full-width) {
        max-width: 1360px;
    }
}

@media (min-width: 1904px) {
    .container:not(.full-width) {
        max-width: 1360px;
    }
}
</style>